.App {
	text-align: center;
	background-color: black;
}

body,
html {
	height: 100%;
	width: 100%;
	color: white;
	background: rgb(27, 2, 12);
	background: linear-gradient(
		74deg,
		rgba(27, 2, 12, 1) 0%,
		rgba(38, 8, 87, 1) 100%
	);
}
header {
	height: 100px;
	width: 100%;
	text-align: center;
}
.movies {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: rgb(27, 7, 7);
}
.movie-item {
	background-color: rgb(36, 7, 7);
	border: 3px solid rgb(66, 34, 34);
	margin: 8px;
	min-width: 200px;
	min-height: 210px;
	border-radius: 9px;
	overflow: hidden;
}
.movie-item .image img {
	width: 100%;
	max-height: 150px;
	/* border-radius: 10px; */
}
.movie-item .image {
}
.movie-item span {
	font-weight: bold;
}
.movie-title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	max-width: 130px;
}
.movie-name {
	padding: 4px;
}
button {
	padding: 6px 29px;
	margin: 20px;
	border-radius: 30px;
	background-color: rgb(89, 242, 186);
	outline: none;
	border: 2px solid rgb(150, 216, 185);
	font-weight: bold;
	color: rgb(0, 0, 0);
}
input {
	align-items: center;
	padding: 6px 20px;
	margin: 5px 20px;
	width: 40%;
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: rgb(238, 248, 255);
}
li {
	background-color: rgb(11, 18, 48);
	margin: 3px;
	border-radius: 5px;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}
span {
	min-width: 180px;
	color: rgb(162, 167, 196);
}
span img {
	height: 30px;
	width: 30px;
	margin: 10px 30px;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.movies-header {
	align-items: center;
	text-align: center;
}
#card {
	display: flex;
	justify-content: space-evenly;
	height: 100vh;
	width: 100%;
	align-items: center;
}
#card > a {
	background-color: rgb(96, 131, 174) !important;
	background: linear-gradient(
		218deg,
		rgba(69, 83, 181, 1) 0%,
		rgba(38, 68, 197, 1) 58%,
		rgba(108, 167, 251, 1) 100%
	);
	min-width: 130px;
	min-height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
#card > * {
	background-color: #fff;
	overflow: hidden;
	border-radius: 30px;
	outline: none;
	border: 3px solid white;
	padding: 10px;
}
form {
	margin: 10% 10%;
}
form input {
	width: -webkit-fill-available;
	margin: 10px 0;
	padding: 10px;
}
select {
	width: 40%;
	margin: 20px 20px 20px 0;
	padding: 9px;
	border-radius: 3px;
}
.main-form {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	vertical-align: center;
}
.back-to-home {
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 100;
	bottom: 0;
	padding: 10px 0;
	background-color: rgb(16, 26, 55);
}
.back-to-home .btn-home {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(173, 185, 229);
	border: 8px solid rgba(55, 74, 134);
	box-shadow: 0px 0px 0px 3px rgb(99 134 181 / 52%);
	transition: all 0.8 ease-in-out;
	margin-bottom: 5px;
}
.btn-home:hover {
	transform: scale(1.2);
	opacity: 0.9;
}
